rs.initiate()

{% for host in groups['mongodb'] %}
rs.add({ 
  host: "{{host}}", 
  priority: {{hostvars[host]['priority']}},
  arbiterOnly: {{hostvars[host]['arbiterOnly']}}
})
{% endfor %}

printjson(rs.status())
